@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.icq{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: fit-content;
    background: rgba(0, 0, 0, 0.50);
    border: 0.7em solid rgb(255 202 3 / 30%);
    box-shadow: 0px 1em 3em rgba(255, 205, 26, 0.4);
    padding-left: 3em;
    padding-bottom: 0.8%;
    animation: fadeIn .8s;
}

.text{
    text-align: left;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 120%;
    color: #FFCA0D;
    text-shadow: 0px 0px 1.5em #FFCD1A;
}

input[type=range]{
    width: calc(100% - 7em);
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    border: 0.1em solid black;
    background-color: rgb(128, 102, 9);
}

input[type=range]::-webkit-slider-thumb {
    background: black;
    cursor: pointer;
    width: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 3em);
}

.text.number{
    margin: 0;
}

select {
    width: 7.5em;
    height: 2.25em;
    border: 0.1em solid rgb(255 202 3 / 30%);
    background: rgba(0, 0, 0, 0.50);
    line-height: 120%;
    cursor: pointer;
    color: #FFCA0D;
    text-align: center;
}

select:focus-visible{
    outline: none;
}

@media (min-width: 993px) {
    .icq{
        width: 25em;
    }

    .text{
        font-size: 1.3em;
        margin: 1em 0;
    }

    select {
        font-size: 1.1em;
    }

    input[type=range]{
        height: 0.5em;
        box-shadow: 0px 0.75em 2.5em rgba(255, 205, 26, 0.4);
    }
    
    input[type=range]::-webkit-slider-runnable-track {  
        height: .75em;
        box-shadow: 0px 0.75em 2.5em rgba(255, 205, 26, 0.459);
    }
    
    input[type=range]::-webkit-slider-thumb {
        border: 0.3em solid #FFCA0D;
        height: .80em;
        margin-top: -0.1em;
        box-shadow: 0px 0.75em 2.5em rgba(255, 205, 26, 0.459);
    }
}

@media (max-width: 992px) {
    .icq{
        width: 78%;
        font-size: .7em;
    }

    .text{
        margin: 1.1em 0;
    }

    select {
        margin: 2em 0;
        font-size: .7em;
    }

    input[type=range]{
        height: 1em;
        box-shadow: 0px 0.1em 2.5em rgba(255, 205, 26, 0.4);
    }
    
    input[type=range]::-webkit-slider-runnable-track {  
        height: 1em;
        box-shadow: 0px 1em 2.5em rgba(255, 205, 26, 0.459);
    }
    
    input[type=range]::-webkit-slider-thumb {
        border: 0.3em solid #FFCA0D;
        height: .9em;
        margin-top: -.04em;
        box-shadow: 0px 0.9em 2.5em rgba(255, 205, 26, 0.459);
    }

}